

.formContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
  }
  
  .inputField {
    padding: 8px;
    margin-right: 10px;
  }
  
  .button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  