.title {
  margin: 20px;
}
.container {
  text-align: center;
  color: #007bff;
}
.appContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 222px;
  padding: 0 200px;
  gap: 20px;
}
.leftContainer {
  align-items: center;
}

.rightContainer {
  text-align: start;
  font-weight: 700;
}
.errorMessage {
  color: red;
  font-size: xx-large;
}
.resultInfo {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5), 0 0 20px rgba(0, 123, 255, 0.5),
    0 0 30px rgba(0, 123, 255, 0.5);
  line-height: 2;
  border-radius: 10px;
  padding: 30px;
}

@media screen and (max-width: 975px) {
  .appContainer {
    padding: 0 150px;
  }
}
@media screen and (max-width: 879px) {
  .appContainer {
    padding: 0 100px;
  }
}
@media screen and (max-width: 780px) {
  .title {
    font-size: x-large;
  }
  .appContainer {
    padding: 0 50px;
  }
}
@media screen and (max-width: 680px) {
   .title {
     font-size: x-large;
   }
   .resultInfo{
      font-size: medium;
      padding: 10px;
   }
 }
 @media screen and (max-width: 570px) {
   .title {
     font-size: large;
   }
   .appContainer {
      padding: 0 10px;
    }
   .resultInfo{
      
      padding: 10px;
      
   }
   .resultInfo p{
      font-size: 12px;
   }
 }