
.container{
    text-align: center;
    color: #007bff;
}
.appContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 222px;
   padding: 0 200px;
  }
  .leftContainer{
    align-items: center;
    
  }
  
  
 .rightContainer{
    text-align: start;
    font-weight: 700;
 }
 .errorMessage{
    color: red;
    font-size: xx-large;

 }